@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	font-family: "Nanum Gothic";
}
a{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #bbbbbb;
	text-decoration:  none;
	cursor : pointer;
}

#black-arrow-prev {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
#black-arrow-next {
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.ex .arrow_top img {position:relative; -webkit-animation: myfirst 0.7s linear 1s infinite alternate; /*normal;  Chrome, Safari, Opera */ animation: myfirst 0.7s linear 1s infinite alternate; /*normal;  Standard syntax */}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	0%   {opacity: 1.0; top:20px;}
	100% {opacity: 1.0; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
	0%   {opacity: 1.0; top:20px;}
	100% {opacity: 1.0; top:0px;}
}
